.desktop-language-picker {
  margin: 0 0 0 16px; }
  .desktop-language-picker p {
    color: #fff;
    margin-left: 16px; }
  .desktop-language-picker svg {
    color: #fff; }

.mobile-language-picker {
  margin: 0 16px 0 16px; }
  .mobile-language-picker p {
    color: #000;
    margin-left: 16px; }

.language-button-width {
  width: 100%; }
