.navbar-container {
  background: rgba(0, 0, 0, 0.18); }
  .navbar-container .desktop-navbar {
    height: 96px;
    padding: 0 32px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    justify-content: space-between;
    flex-direction: row;
    align-items: center; }
    .navbar-container .desktop-navbar .desktop-logo {
      display: flex;
      flex-direction: row;
      align-items: center; }
      .navbar-container .desktop-navbar .desktop-logo h1 {
        font-size: 2.143rem;
        font-weight: 700;
        color: #fff;
        margin-left: 30px; }
      .navbar-container .desktop-navbar .desktop-logo img {
        border-radius: 50%; }
    .navbar-container .desktop-navbar .navigation-menu {
      display: flex; }
      .navbar-container .desktop-navbar .navigation-menu ul {
        display: flex;
        align-items: center;
        padding: unset; }
        .navbar-container .desktop-navbar .navigation-menu ul li {
          list-style: none; }
        .navbar-container .desktop-navbar .navigation-menu ul .item {
          list-style: none;
          text-align: center;
          font-weight: 400;
          font-size: 1.143rem;
          color: #ffffff;
          padding: 1em; }
          .navbar-container .desktop-navbar .navigation-menu ul .item a {
            color: #ffffff; }
        .navbar-container .desktop-navbar .navigation-menu ul .item:hover {
          border-radius: 5px;
          transition: 0.3s ease;
          background: rgba(0, 0, 0, 0.16); }
  .navbar-container .mobile-navbar {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .navbar-container .mobile-navbar .header-items-holder {
      display: flex;
      width: 100%;
      margin-left: 20px;
      margin-right: 20px; }
      .navbar-container .mobile-navbar .header-items-holder button {
        color: #ffffff; }
      .navbar-container .mobile-navbar .header-items-holder .mobile-logo {
        display: flex;
        flex-direction: row;
        align-items: center; }
        .navbar-container .mobile-navbar .header-items-holder .mobile-logo h1 {
          font-size: 1.571rem;
          font-weight: 700;
          color: #fff;
          margin-left: 15px; }
        .navbar-container .mobile-navbar .header-items-holder .mobile-logo img {
          max-width: 46px;
          width: 100%; }
    .navbar-container .mobile-navbar .drawer-content {
      width: 256px;
      height: 100%; }
