@import "../../scss/sizes.scss";
@import "../../scss/colors.scss";

$color-desktop-logo: #fff;
$color-mobile-logo: #fff;

.navbar-container {
  background: $color-desktop-navbar-background;

  .desktop-navbar {
    height: 96px;
    padding: 0 $horizontal-intends-desktop;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    flex-direction: row;
    align-items: right;

    .desktop-logo {
      display: flex;
      flex-direction: row;
      align-items: center;

      h1 {
        font-size: 2.143rem;
        font-weight: 700;
        color: $color-desktop-logo;
        margin-left: 30px;
      }

      img {
        border-radius: 50%;
      }
    }

    .navigation-menu {
      display: flex;

      ul {
        display: flex;
        align-items: right;
        padding: unset;

        li {
          list-style: none;
        }

        .item {
          list-style: none;
          text-align: center;
          font-weight: 400;
          font-size: 1.143rem;
          color: $color-menu-item;
          padding: 1em;

          a {
            color: $color-menu-item;
          }
        }

        .item:hover {
          border-radius: 5px;
          transition: 0.3s ease;
          background: $color-menu-item-hover;
        }
      }
    }
  }

  .mobile-navbar {
    width: 100%;
    //background: $color-primary;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-items-holder {
      display: flex;
      width: 100%;
      margin-left: 20px;
      margin-right: 20px;

      button {
        color: $color-primary-text;
      }

      .mobile-logo {
        display: flex;
        flex-direction: row;
        align-items: center;

        h1 {
          font-size: 1.571rem;
          font-weight: 700;
          color: $color-mobile-logo;
          margin-left: 15px;
        }

        img {
          max-width: 46px;
          width: 100%;
        }
      }
    }

    .drawer-content {
      width: 256px;
      height: 100%;
    }
  }
}
