.title {
  font-size: 48px;
  text-align: center; }

.heading {
  font-size: 24px; }

.heading .content {
  font-size: 16px; }

.stepOne{
    color: #3498DB;
}
.stepOneText{
    color: black;
    font-size: 16px;
}
.boxStep{
    border: 1px solid #3498DB;
    border-radius: 10px;
    padding: 10px;
}
.boxBig{
    border: 1px solid #707070;
    padding: 10px;
    margin-bottom: 10px;
}