@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 300;
  src: local("Roboto Light"), local("Roboto-Light"), url("../../fonts/Roboto-Light.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  src: local("Roboto Regular"), local("Roboto-Regular"), url("../../fonts/Roboto-Regular.ttf") format("truetype"); }

@font-face {
  font-family: "Roboto";
  font-style: bold;
  font-weight: 600;
  src: local("Roboto Bold"), local("Roboto-Bold"), url("../../fonts/Roboto-Bold.ttf") format("truetype"); }

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(~material-design-icons/iconfont/MaterialIcons-Regular.eot);
  /* For IE6-8 */
  src: local("Material Icons"), local("MaterialIcons-Regular"), url(~material-design-icons/iconfont/MaterialIcons-Regular.woff2) format("woff2"), url(~material-design-icons/iconfont/MaterialIcons-Regular.woff) format("woff"), url(~material-design-icons/iconfont/MaterialIcons-Regular.ttf) format("truetype"); }
